.nt4-container {
  text-align: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.nt4-container > .button {
  margin: 10px 0;
}

#ip {
  text-align: left;
}

.checkbox {
  width: fit-content;
}

.nt4-item {
  margin-bottom: 16px;
}
