.setup-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

#ip {
  text-align: left;
}

.checkbox {
  width: fit-content;
}

.nt4-item {
  margin-bottom: 16px;
}

.nt4-input {
  margin-left: 16px;
}

.nt4-settings-connected {
  --background: #72e67899;
}

.nt4-settings-searching {
  --background: #e6e67899;
}
